@charset 'utf-8';
/*zjf20170927*/
.blog-my-bg {position: relative;z-index: 10;}
.header-bg {background: url(../images/blog_my_bg.jpg) no-repeat center top;}
.header {padding: 60px 0 30px;}
.header-top {position: relative;}
.header-top .a-img {display: block;}
.header-top .a-img img {display: block;width: 120px;height: 120px;border-radius: 50%;}
.header-top .right {position: absolute;left: 165px;top: 10px;}
.header-top .right .name {font-size: 24px;color: #fff;font-weight: bold;line-height: 1;margin: 0 0 20px;width: 900px;overflow: hidden;display: block;white-space: nowrap;text-overflow: ellipsis;}
.header-top .right .number-list {margin-left: -35px;}
.header-top .right .number-list li {float: left;width: 116px;text-align: center;border-left: 1px solid #e0e0e0;}
.header-top .right .number-list li:first-child {border-left: 0;}
.header-top .right .number-list span, .header-top .right .number-list a {display: block;font-size: 20px;color: #fff;line-height: 1;}
.header-top .right .number-list p {color: #fff;line-height: 1;margin-top: 8px;font-size: 12px;opacity: .5;filter: opacity(50);}
.header-top .right .icon-list {margin-top: 20px;}
.header-top .right .icon-list li {float: left;margin-right: 12px;padding-left: 18px;color: #fff;font-size: 12px;line-height: 1.2;}
.header-top .right .icon-list-1 {background: url(../images/12s.png) no-repeat left top;}
.header-top .right .icon-list-2 {background: url(../images/14s.png) no-repeat left center;}
.header-top .right .icon-list-3 {background: url(../images/13s.png) no-repeat left center;}
.header-top .right .icon-list-4 {background: url(../images/04a.png) no-repeat left center;}
.header-top .right .icon-list-5 {background: url(../images/15s.png) no-repeat left center;}
.header-top .right-msg {position: absolute;right: 0;top: 10px;}
.header-top .right-msg a {display: inline-block;width: 78px;height: 30px;text-align: center;line-height: 30px;color: #fff;border: 1px solid #fff;border-radius: 2px;cursor: pointer;margin-left: 20px;}
.header-bottom {margin-top: 40px;}
.header-bottom .left-list {float: left;margin-left: 166px;}
.header-bottom .left-list li {float: left;line-height: 34px;font-size: 12px;color: #fff;margin-right: 26px;}
.header-bottom .right-list {float: right;}
.header-bottom .right-list p {float: left;color: #fff;line-height: 33px;}
.header-bottom .right-list a {float: left;margin-left: 8px;background-image: url(../images/26.png);background-repeat: no-repeat;padding-left: 0;margin: 0;margin-left: 10px;}
.header-bottom .right-list a.bds_sqq {background-position: left -82px;width: 35px;height: 35px;}
.header-bottom .right-list a.bds_sqq:hover {background-position: right -82px;}
.header-bottom .right-list a.bds_tsina {background-position: left bottom;width: 33px;height: 33px;}
.header-bottom .right-list a.bds_tsina:hover {background-position: right bottom;}
.header-bottom .right-list a.bds_weixin {background-position: left 0;width: 33px;height: 33px;}
.header-bottom .right-list a.bds_weixin:hover {background-position: right 0;}
/*content*/
.blog-my .Left {width: 880px;margin-top: 54px;}
.artical-tit {border-bottom: 1px solid #eee;}
.artical-tit p {color: #666;line-height: 40px;}
.form-search {width: 100%;margin-top: 14px;}
.select-input {width: 140px;line-height: 18px;font-size: 12px;color: #999;padding-left: 20px;background: url(../images/33.png) no-repeat left center;border: 0 none;}
.select-down {padding-bottom: 12px;margin-left: 10px;border: 0 none;background-color: #fff;}
.select-down p {height: 14px;line-height: 14px;font-size: 12px;color: #666;line-height: 1.2;background-color: #fff;}
.select-down:hover p {background-color: #fff;}
.select-down:hover i.arrow {display: block;}
.select-down:hover ul {display: block;}
.select-down i.arrow {display: none;width: 14px;height: 8px;position: absolute;top: 20px;left: 50%;margin-left: -7px;background: url(../images/03s.png) no-repeat;z-index: 1;}
.select-down ul {width: 69%;padding: 9%;top: 26px;left: 5px;border: 1px solid #eee;}
.select-down ul li {padding: 0;height: 28px;text-align: center;}
.select-down ul li a {display: block;line-height: 28px;font-size: 12px;}
.select-down ul li:hover a {color: #4285f4;}
.blog-my-tab {margin-bottom: 20px;}
.blog-my-tab li {float: left;margin-right: 42px;}
.blog-my-tab li a {display: block;font-size: 14px;color: #999;}
.blog-my-tab li.on a, .blog-my-tab li:hover a {color: #4285f4;}
.blog-my-title li {float: left;margin-right: 16px;margin-bottom: 16px;}
.blog-my-title li a {display:block;padding: 0 10px;height: 22px;line-height: 22px;font-size: 12px;color: #666;background: #fff;border: 1px solid #b5b5b5;cursor: pointer;border-radius: 4px;}
.blog-my-title li.on a {color: #4285f4;border: 1px solid #4285f4;}
.blog-my-title li:hover a {color: #333;border: 1px solid #cfcfcf;}
.artical-list li {border-bottom: 1px solid #eee;padding: 20px 14px;}
.artical-list li:first-child {margin-top: 0;}
.artical-list li:hover {background: #fff;}
.artical-list li .top .name:hover, .artical-list li:hover .tit {color: #4285f4;}
.artical-list .top .a-img img {display: block;width: 30px;height: 30px;border-radius: 50%;}
.artical-list .top .name {font-size: 12px;color: #333;margin-left: 12px;line-height: 30px;}
.artical-list .top .time {font-size: 12px;color: #969696;margin-left: 8px;line-height: 30px;cursor: default;}
.artical-list .top .zan {color: #999;line-height: 18px;padding-left: 24px;background: url(../images/good.png) no-repeat left center;cursor: pointer;}
.artical-list .top.on .zan, .artical-list .top .zan:hover {color: #666;background: url(../images/good_2.png) no-repeat left center;}
.artical-list .tit {display: inline-block;font-size: 20px;color: #333;font-weight: bold;line-height: 36px;margin-top: 12px;}
.artical-list .tit span {display: inline-block;border-radius: 3px;margin-left: 10px;line-height: 20px;}
.artical-list .tit .jian {font-size: 16px;color: #fff;background: #ee5e0f;padding: 0 2px;}
.artical-list .tit .ding {font-size: 15px;color: #ee5e0f;background: #fff;border: 1px solid #ee5e0f;padding: 0 8px;}
.artical-list .con {display: block;font-size: 14px;color: #666;line-height: 24px;height: 48px;margin-top: 12px;overflow: hidden;cursor: default;}
.artical-list .bot {margin-top: 20px;}
.artical-list .bot p, .artical-list .bot .edit {font-size: 12px;color: #999;padding: 0 6px;height: 18px;line-height: 18px;}
.artical-list .bot p {margin-right: 10px;}
.artical-list .bot p.on i {display: inline-block;width: 13px;height: 13px;background: url(../images/37.png) no-repeat;vertical-align: middle;margin-top: -20px;}
.artical-list .bot .tab {margin-right: 14px;font-size: 12px;border-radius: 4px;}
.artical-list .bot .original {color: #f96f85;border: 1px solid #f96f85;}
.artical-list .bot .translation {color: #ff864e;border: 1px solid #ff864e;}
.artical-list .bot .reprint {color: #80adf8;border: 1px solid #80adf8;}
.artical-list .bot .remove:hover {color: #4285f4;cursor: pointer;}
.artical-list .bot .edit:hover {color: #4285f4;cursor: pointer;}
.artical-list .bot .icon {padding-left: 10px;padding-right: 14px;background: url(../images/dot2.png) no-repeat left center;}
/*right*/
.blog-my .Right {width: 300px;margin-top: 54px;}
.blog-my .Right h3.BoxTil {font-size: 16px;padding-left: 10px;border-left: 3px solid #4285f4;line-height: 1;font-weight: normal;margin-bottom: 15px;position: relative;}
.blog-my .Right .Box  {margin-bottom: 30px;padding: 10px 20px;border:1px solid #EEE;background: #FFF;}
.blog-my .Right .articles {padding: 0;}
.blog-my .Right h3.BoxTil a{position: absolute;right: 10px;font-size: 14px;color: #666;}
.column-list{padding: 20px 15px 0;border: 1px solid #EEE;margin-bottom: 30px;}
.cloumns-item{position: relative;height: 83px;margin-bottom: 20px;padding-left: 90px;}
.cloumns-item .cloumns-item-image{position: absolute;left: 0;top: 0;}
.cloumns-item .cloumns-item-image img{width: 83px;height: 83px;}
.cloumns-item .cloumns-item-btn{position: absolute;bottom: 0px;right: 0px;display: inline-block;height: 20px;width: 60px;background-color: #C89D58;color: #fff;line-height: 20px;text-align: center;border-radius: 12px;font-size: 12px;}
.cloumns-item-info{height: 54px;margin-bottom: 9px;}
.cloumns-item-title{line-height: 18px; color: #333;overflow: hidden;display: block;font-size: 14px;max-height: 36px;}
.cloumns-item-abstract{height: 18px;line-height: 18px;color: #8D8D8D;font-size: 12px;width: 180px;text-overflow: ellipsis;white-space: nowrap;overflow: hidden;}
.cloumns-item-price{height: 20px;display: block;font-size: 14px;line-height: 20px;color: #333;}
.cloumns-item-price span{color: #999;text-decoration: line-through;font-size: 12px;}
.presellInfo-price{color: #FC5C60;}
.presellInfo-btn{background-color: #FC5C60!important;}